*.o
*.lo
.gdbinit
*.Plo
gtk/controller/controller.c
gtk/controller/foreign-menu.c
gtk/controller/menu.c
gtk/controller/spice-controller.h
gtk/controller/util.c
Makefile
config.h
config.log
config.status
data/Makefile
data/spicy.desktop.in
data/spicy.nsis
doc/Makefile
doc/reference/Makefile
gtk/.deps/
gtk/.libs/
gtk/Makefile
gtk/controller/.deps/
gtk/controller/.libs/
gtk/controller/Makefile
gtk/controller/libspice-controller.la
gtk/controller/spice-controller-dump
gtk/controller/test-controller
gtk/libspice-client-glib-2.0.la
gtk/libspice-client-gtk-2.0.la
gtk/spice-glib-enums.c
gtk/spice-glib-enums.h
gtk/spice-marshal.c
gtk/spice-marshal.h
gtk/spice-version.h
gtk/spice-widget-enums.c
gtk/spice-widget-enums.h
gtk/spicy
gtk/spicy-screenshot
gtk/spicy-stats
libtool
man/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
po/fr.gmo
po/stamp-it
spice-client-glib-2.0.pc
spice-client-gtk-2.0.pc
spice-client-gtk-3.0.pc
spice-common/Makefile
spice-common/common/.libs/
spice-common/common/Makefile
spice-common/common/libspice-common-client.la
spice-common/common/libspice-common-server.la
spice-common/common/libspice-common.la
spice-common/config.h
spice-common/config.log
spice-common/config.status
spice-common/libtool
spice-common/python_modules/Makefile
spice-common/python_modules/__init__.pyc
spice-common/python_modules/codegen.pyc
spice-common/python_modules/demarshal.pyc
spice-common/python_modules/marshal.pyc
spice-common/python_modules/ptypes.pyc
spice-common/python_modules/spice_parser.pyc
spice-common/spice-protocol/Makefile
spice-common/spice-protocol/config.h
spice-common/spice-protocol/config.log
spice-common/spice-protocol/config.status
spice-common/spice-protocol/spice-protocol.pc
spice-common/spice-protocol/spice/Makefile
spice-common/spice-protocol/stamp-h1
spice-common/stamp-h1
spice-controller.pc
stamp-h1
tags
tests/.deps/
tests/Makefile
tests/coroutine
tests/util
vapi/Makefile
