*.o
*.a
*.la
*.lo
.gdbinit
*.Plo
.deps
.libs
*.pc
*.pyc
stamp-h1
tags
config.h
config.log
config.status
Makefile
gtk/controller/controller.c
gtk/controller/foreign-menu.c
gtk/controller/menu.c
gtk/controller/spice-controller.h
gtk/controller/util.c
data/spicy.desktop.in
data/spicy.nsis
gtk/controller/spice-controller-dump
gtk/controller/test-controller
gtk/spice-glib-enums.c
gtk/spice-glib-enums.h
gtk/spice-marshal.c
gtk/spice-marshal.h
gtk/spice-version.h
gtk/spice-widget-enums.c
gtk/spice-widget-enums.h
gtk/spicy
gtk/spicy-screenshot
gtk/spicy-stats
libtool
po/Makefile.in
po/POTFILES
po/fr.gmo
po/stamp-it
spice-common/libtool
tests/coroutine
tests/util
